<div class="row">
  <div class="col-xs-12">
    <h3>Results</h3>
    <div class="list-group">
	    <div class="list-group-item title">
        <div class="row">
		      <div class="col-xs-4">Name</div>
		      <div class="col-xs-4">Offered</div>
		      <div class="col-xs-4">Demanded</div>
        </div>
	    </div>
	    <% users.forEach((user) => { %>
		    <div class="list-group-item">
          <div class="row container-separated-items">
			      <div class="col-xs-4"><a href="/profile/<%= user._id %>"><%= user.name %></a></div>
			      <div class="col-xs-4 wrappable-content"><% user.languagesOffered.forEach((lang) => { %>
				      <div class="container-vertically-aligned"><img class="flag" src="<%= lang.flagImgPath %>"/><span><%= lang.name %></span></div>
			      <% }); %></div>
			      <div class="col-xs-4 wrappable-content"><% user.languagesDemanded.forEach((lang) => { %>
				      <div class="container-vertically-aligned"><img class="flag" src="<%= lang.flagImgPath %>"/><span><%= lang.name %></span></div>
			      <% }); %></div>
          </div>
        </div>
	    <% }); %>
    </div>
  </div>
</div>