<div class="list-group">
	<div class="list-group-item row container-separated-items title">
		<div class="col-sm-4">Name</div>
		<div class="col-sm-4">Offered</div>
		<div class="col-sm-4">Demanded</div>
	</div>
	<% users.forEach((user) => { %>
		<div class="list-group-item row container-separated-items">
			<div class="col-sm-4"><a href="/profile/<%= user._id %>"><%= user.name %></a></div>
			<div class="col-sm-4"><% user.languagesOffered.forEach((lang) => { %>
				<span><img class="flag" src="<%= lang.flagImgPath %>"/> <%= lang.name %></span>
			<% }); %></div>
			<div class="col-sm-4"><% user.languagesDemanded.forEach((lang) => { %>
				<span><img class="flag" src="<%= lang.flagImgPath %>"/> <%= lang.name %></span>
			<% }); %></div>
		</div>
	<% }); %>
</div>