<div class="row">
	<div class="container-separated-items col-sm-12">
    <div class="wrappable-content profile-title">
      <h3>
        Profile
      </h3>
      <% if(user._id != currentUser._id){ %>
        <% if(!typeRel) { %>
          <span>(Not related)</span>
        <% } else if(typeRel == 'friends') { %>
          <span>(In your contact list)</span>
        <% } else if(typeRel == 'waiting') { %>
          <span>(Waiting to contact)</span>
        <% } else if(typeRel == 'pending') { %>
          <span>(You have a request)</span>
        <% } %>
      <% } %>
    </div>
    <div class="links">
		  <% if(user._id == currentUser._id){ %>
			  <a href="/profile/<%= currentUser._id %>/edit">edit <small class="glyphicon glyphicon-pencil"></small></a>
		  <% } else if(!typeRel) { %>
			  <a href="/relations/<%= user._id %>/askContact">contact <small class="glyphicon glyphicon-link"></small></a>
		  <% } else if(typeRel == 'friends') { %>
			  <a href="/relations/<%= user._id %>">new message <small class="glyphicon glyphicon-send"></small></a>
		  <% } else if(typeRel == 'pending') { %>
			  <a href="/relations/<%= user._id %>/acceptContact">accept <small class="glyphicon glyphicon-ok"></small></a>
		  <% } %>
    </div>
	</div>
	<div class="col-sm-4">
		<div class="list-group">
			<div class="list-group-item">
				<img src="<%= user.imageUrl %>" class="little-profile"/>
				<h4><%= user.name %></h4>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item title">Teach</li> 
			<% user.languagesOffered.forEach((language) => { %>
				<li class="list-group-item container-vertically-aligned">
					<img class="flag" src="<%= language.flagImgPath %>" alt="<%= language.name %>" title="<%= language.name %>"/><%= language.name %>
				</li>
			<% }); %>
		</ul>
		<ul class="list-group">
			<li class="list-group-item title">Learn</li> 
			<% user.languagesDemanded.forEach((language) => { %>
				<li class="list-group-item container-vertically-aligned">
					<img class="flag" src="<%= language.flagImgPath %>" alt="<%= language.name %>" title="<%= language.name %>"/><%= language.name %>
				</li>
			<% }); %>
		</ul>
		<div class="list-group">
			<div class="list-group-item title">
				<span>Others</span>
			</div>
			<% if( user.gender ) { %>
				<div class="list-group-item">
					<span><%= user.gender %></span>
				</div>
			<% } %>
			<% if( user.city && user.city !== 'Other') { %>
				<div class="list-group-item">
          <span><%= user.city %></span>
				</div>
			<% } %>
			<div class="list-group-item">
        <span><%= user.email %></span>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="list-group">
			<div class="list-group-item title">
				<span>Description</span>
			</div>
			<div class="list-group-item">
				<p><%= user.description %></p>
			</div>
		</div>
		<div class="list-group">
			<div class="list-group-item title">
				<span>Interests</span>
			</div>
			<div class="list-group-item">
				<p><%= user.interests %></p>
			</div>
		</div>
	</div>
</div>