<div class="row">
	<div class="container-separated-items col-sm-12">
		<h3><%= user.name %> profile</h3> 
		<% if(user._id == currentUser._id){ %>
			<a href="/profile/<%= currentUser._id %>/edit">edit <span class="glyphicon glyphicon-pencil"></span></a>
		<% } else if(!typeRel) { %>
			<span>Not related <a href="/relations/<%= user._id %>/askContact">contact <span class="glyphicon glyphicon-link"></span></a></span>
		<% } else if(typeRel == 'friends') { %>
			<span>In your contact list <a href="/conversations/<%= user._id %>">list conversations <span class="glyphicon glyphicon-transfer"></span></a> <a href="/conversations/<%= user._id %>/new">new conversation <span class="glyphicon glyphicon-send"></span></a></span>
		<% } else if(typeRel == 'waiting') { %>
			<span>Waiting to contact</span>
		<% } else if(typeRel == 'pending') { %>
			<span>You have a request <a href="/relations/<%= user._id %>/acceptContact">accept <span class="glyphicon glyphicon-ok"></span></a></span>
		<% } %>
	</div>
	<div class="col-sm-4">
		<div class="list-group">
			<div class="list-group-item">
				<img src="<%= user.imageUrl %>" class="little-profile"/>
				<h4><%= user.name %></h4>
			</div>
		</div>
		<ul class="list-group">
			<li class="list-group-item">Teach</li> 
			<% user.languagesOffered.forEach((language) => { %>
				<li class="list-group-item container-vertically-aligned">
					<img class="flag" src="<%= language.flagImgPath %>" alt="<%= language.name %>" title="<%= language.name %>"/><%= language.name %>
				</li>
			<% }); %>
		</ul>
		<ul class="list-group">
			<li class="list-group-item">Learn</li> 
			<% user.languagesDemanded.forEach((language) => { %>
				<li class="list-group-item container-vertically-aligned">
					<img class="flag" src="<%= language.flagImgPath %>" alt="<%= language.name %>" title="<%= language.name %>"/><%= language.name %>
				</li>
			<% }); %>
		</ul>
		<div class="list-group">
			<div class="list-group-item">
				<span>Others</span>
			</div>
			<% if( user.gender ) { %>
				<div class="list-group-item">
					<small class="samll">Gender: <%= user.gender %></small>
				</div>
			<% } %>
			<% if( user.city ) { %>
				<div class="list-group-item">
					<small class="samll">City: <%= user.city %></small>
				</div>
			<% } %>
			<div class="list-group-item">
				<small class="samll">Email: <%= user.email %></small>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="list-group">
			<div class="list-group-item">
				<span>Description</span>
			</div>
			<div class="list-group-item">
				<p><%= user.description %></p>
			</div>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<span>Interests</span>
			</div>
			<div class="list-group-item">
				<p><%= user.interests %></p>
			</div>
		</div>
	</div>
</div>