<div class="row">
  <div class="col-xs-12">
    <h3>Conversations</h3>
    <div class="list-group">
      <div class="list-group-item title">
        Contact
      </div>
	    <% relations.forEach((rel) => { let friend = rel.users[0]._id == currentUser._id ? rel.users[1] : rel.users[0]; %>
		    <div class="list-group-item">
          <div class="row">
			      <div class="col-xs-12 container-separated-items hidden-sm-up">
              <div class="no-wrap">
                <a href="/profile/<%= friend._id %>"><%= friend.name %></a>
                <% if(rel.messagesUnread) { %>
                  <a href="/relations/<%= friend._id %>">
                    <span class="badge badge-light"><%= rel.messagesUnread %></span>
                  </a>
                <% } %>
              </div>
              <div class="no-wrap">
                <a href="/relations/<%= friend._id %>"><span class="glyphicon glyphicon-search"></span></a>
                <a href="/relations/<%= friend._id %>/send"><span class="glyphicon glyphicon-send"></span></a>
              </div>
            </div>
          </div>
		    </div>
	    <% }); %>
    </div>
  </div>
</div>